body {
    background-color: cornflowerblue;
}
main {
    max-width: 839px;
    margin-right: auto;
    margin-left: auto;
    height: 531px;
    background-color: aliceblue;
}
h2 {
    color: red;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}

h3 {
    color: black;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    background-color: pink;
    position: absolute;
    border: 3px solid #8AC007;
    top: 20px;
    right: 120px;
}

a {
    text-decoration:none
}
footer {
    font-size: 11px;
}
/*
img:hover {
    background-color: yellow;
    opacity: 0.2;
    filter: alpha(opacity=20);
}*/

img:hover {
    background-color: yellow;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
