body {
    background-color: cornflowerblue;
}
main {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    height: 532px;
    background-color: aliceblue;
}
h2 {
    color: red;
    font-size: 12px;
    font-family: 'Indie Flower', cursive;
}
